<head>
    <title>Create Model Instance</title>
    <%- include('bootstrap.ejs') %>
</head>

<body>
    <%- include('navbar.ejs') %> 
        <div class="container">
            <div class="row">
                    <h1>Create a Model Instance</h1>
                    <br>
                    Selected Model: 

                    <select name="model" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                        <% for ( val of models) { %>
                            <option value="/createinstance/<%=val._fields[0]%>" <% if (val._fields[0] == activeModel) { %>
                                selected <% } %>
                            ><%= val._fields[0] %></option>
                        <% } %>
                        
                    </select>

                        <br>
                        <hr>
                        <form method="POST" action="/createinstance">
                            <input type="hidden" name="Model" value="<%=fields.properties['Model']%>" />
                            <table class="table">
                                <tbody>
                                    <% for ([key,val] of Object.entries(fields.properties)) { %>
                                        <% if (key !='Model' && elementMap[val][0] == "input"){ %>
                                            <tr>
                                                <td>
                                                    <%= key %>
                                                </td>
                                                <td>
                                                    <%- '<' + elementMap[val][0] + ' class="form-control" type="' + elementMap[val][1]
                                                        + '" name="' + key + '">' %>
                                                </td>
                                            </tr>
                                        <% } %>

                                        <% if (key !='Model' && elementMap[val][0] == "select") { %>
                                            <tr>
                                                <td>
                                                    <%= key %> 
                                                </td>
                                                <td>
                                                    <select name=<%=key%>>
                                                        <% elementMap[val][1].forEach((el) => { %>
                                                            <option><%= el %></option>
                                                        <% }) %>
                                                    </select>

                                                </td>
                                            </tr>

                                        <% } %>
                                    <% } %>
                                </tbody>
                            </table>
                            <input type="submit" value="Submit" />
                        </form>
            </div>
        </div>
        <%- include('scripts.ejs') %>


</body>