<head>
    <%- include('bootstrap.ejs') %>
</head>

<body>
    <%- include('navbar.ejs') %>
    <div class="container">



        <div class="row">
            Selected Model: <select name="model"
                onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                <% for ( val of record2) { %>
                    <option value="/directory/<%=val._fields[0]%>" <% if (val._fields[0] == model) { %>
                        selected <% } %>
                            ><%= val._fields[0] %>
                    </option>
                    <% } %>
            
            </select>
        </div>

        <br>
        <hr>

        <% if(record[0]){ %>
        
        <div class="row">
            <table id="myTable" class="display" style="width:100%">
                <thead>
                    <tr>
                        <% if (record[0]._fields[0].properties["Name"]) { %>
                            <th>Name</th>
                        <% } %>

                        <% for (key of Object.keys(record[0]._fields[0].properties)){ %>
                            <% if (key != "Model" && key != "Name"){ %>
                            <th>
                                <%=key%>
                            </th>
                            <% } %>
                        <% } %>
                            <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    
                    

                    <% record.forEach((record)=> { %>
                        <tr>
                        <% if (record._fields[0].properties["Name"]) { %>
                            <td>
                                <%= record._fields[0].properties["Name"] %>
                            </td>
                        <% } %>
                        

                        <% for ([key,val] of Object.entries(record._fields[0].properties)){ %>
                            <% if (key != "Model" && key != "Name"){ %>
                                <td>
                                    <% if(key == "Jersey_Color") { %>
                                        <div style='float:left;width:30px; height: 10px; background-color: <%= val %>; margin-right:10px'> </div> 
                                        <div style="float:left">
                                            <%=val%>
                                        </div>
                                    <% } else if (key === "Picture"){ %>

                                        <img style="width:100px" src="<%= val%>" />

                                    <% } else{ %>
                                        <div style="float:left">
                                            <%=val%>
                                        </div>

                                    <% } %>
                                </td>
                            <% } %>
                        <% } %>
                                <td></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        <% } else {%>

            <%= %>



            No Records Found

        <% } %>
    </div>
    <%- include('scripts.ejs') %>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });

    </script>

    <style>

        tr {
            cursor: pointer;
        }

    </style>
</body>